<template>
    <div>
        <child @user-info="getInfo"/>
        <h1 v-if="name !== null">Name: {{name}}</h1>
        <h1 v-if="name !== null">Age: {{age}}</h1>
        <h1 v-if="name !== null">City: {{city}}</h1>
    </div>
</template>

<script>
import child from './task4-child.vue';

export default {
    name: 'task4-parent',
    data(){
        return {
            age: null,
            name: null,
            city: null
        }
    },
    components: {
        child
    },
    methods: {
        getInfo(userInfo){
            this.name = userInfo.name;
            this.age = userInfo.age;
            this.city = userInfo.city;
        }
    }
}
</script>

<style>
</style>