<template>
  <div id="task5">
    <div class="currency">
    <label for="dollar">Dollar:</label>
    <input id="dollar-input" type="text" placeholder="Enter Dollar value...." v-model="dollar"/>
    </div>

    <div class="currency">
    <label for="rupees">Rupees:</label>
    <input id="rupee-input" type="text" placeholder="Enter Rupee Value...." v-model="rupees"/>
    </div>

  </div>
</template>

<script>
export default {
  name: 'task5-currency',
  data() {
    return {
      dollar: null,
      rupees: null
    }
  },
  watch: {
    dollar: function(){
      this.rupees = this.dollar * 69.01;
    },
    rupees: function(){
     this.dollar = this.rupees / 69.01;
    }
  }
}
</script>

<style scoped>
.currency{
  font-family: monospace;
  font-weight: bold;
  width: 300px;
}

input[type=text]{
  padding: 10px;
  width: 60%;
  margin: 10px;
  border-radius: 4px;
}

#dollar-input{
  background-color: red;
  color: white;
}

#rupee-input{
  background-color: green;
  color: white;
}

::placeholder{
  color: white;
  font-family: monospace;
}
</style> 