<template>
    <div>
        <div v-for="info in data" :key="info">
            <child :address="info"/>
        </div>
    </div>
</template>

<script>
import child from './task3-child.vue';

export default {
    name: 'task3-parent',
    data() {
        return {
            arr: ["red-110001","blue-110002","pink-110003","yellow-110004"],
            data: []
        }
    },
    components: {
        child
    },
    methods: {
        setpin: function(str){
            let pin = str.split('-')[1];
            fetch('https://api.postalpincode.in/pincode/' + pin)
            .then(res => res.json())
            .then(json => {
                for(var i=0;i<json.length;i++){
                    this.data.push(str + ': ' + json[0].PostOffice[0].Name)
                }
            })
            .catch(err => console.log(err));
        },
        getpin: function(){
            for(let i=0; i<this.arr.length;i++){
                this.setpin(this.arr[i]);
            }
        }
    },
    created(){
        this.getpin()
    }
}
</script>

<style>
</style>