<template>
    <div id="parent">
        <div v-for="color in arr" :key="color">
            <child :colorName="color"></child>
        </div>
    </div>
</template>

<script>
import child from './task2-child.vue';

export default {
    name: 'task2-parent',
    data() {
        return {
            arr: ['red', 'green', 'blue', 'orange', 'purple', 'pink', 'maroon', 'grey', 'black', 'cyan']
        }
    },
    components: {
        child
    }
}
</script>

<style>
</style>