<template>
  <div>
    
    <p id="task-1-heading">v-if v-else</p>
    <p id="task-1-content" v-for="age in ages" :key="age">
      <span id="task1-span1" v-if="(age > 18)">You are Eligible to see the content</span>
      <span id="task1-span2" v-else>You are not eligible to see the content</span>
    </p>

    <p id="task-2-heading">v-for with href</p>
    <p id="task-2-content" v-for="web in websites" :key="web">
      <a :href="web">{{ web }}</a>
    </p>

    <p id="task-3-heading">v-for</p>
    <ul id="task-3-content" v-for="hero in Heroes" :key="hero">
      <li>{{hero}}</li>
    </ul>

  </div>
</template>

<script>
export default {
  name: 'task1',
  data() {
    return {
      ages: [30, 50, 45, 15, 16],
      websites: ['www.google.com','www.gmail.com','www.amazon.com'],
      Heroes: ['Ironman','CaptainAmerica','Thor','Groot']
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#task-1-heading{
  color : maroon;
  font-size  : 25px;
}
#task-1-content{
  font-size : 20px;
}
#task1-span1{
  color : red;
}
#task1-span2{
  color : green;
}

#task-2-heading{
  color : black;
  font-size : 25px;
}


#task-3-heading{
  color : blue;
  font-size : 25px;
}
#task-3-content{
  color : red;
  list-style: none;
  font-size : 20px;
}
</style>