<template>
    <div id="task4">
        <div id="form-style">
        <form @submit.prevent="onSubmit">
            
            <p>
            <label for="name">Name:</label>
            <input type="text" v-model="name" placeholder="Enter the name"/>
            </p>

            <p>
                <label id="lab" for="age">Age:</label>
                <select v-model="age">
                    <option v-for="year in years" :key="year" :value="year">{{year}}</option>
                </select>
            </p>

                <label for="city">City:</label>
                <span v-for="place in places" :key="place">
                    <input type="radio" v-model="city" :value="place"/>{{ place }}
                </span>

            <p>
                <input type="submit" value="Submit" @click="callClass()">  
            </p> 

        </form>

        <p v-if="this.name === null || this.age === null || this.city === null">
            <ul>
                <li v-for="error in errors" :key="error">{{error}}</li>
            </ul>
        </p>
        </div>
    </div>
</template>

<script>
import { user } from '../helper.js';

export default {
    name: 'task4-child',
    data() {
        return {
            years: [18,19,20,21,22,23,24,25],
            places: ['Bangalore', 'Mangalore', 'Hyderabad', 'TamilNadu'],
            name: null,
            age: null,
            city: null,
            errors: []
        }
    },
    methods: {
        onSubmit(){
            if(this.name && this.age && this.city){
                let userInfo = {
                    name: this.name,
                    age: this.age,
                    city: this.city
                }
                this.$emit('user-info', userInfo);
            }
            else {
                if(!this.name) {
                    this.errors.push('Name Required');
                }
                if(!this.age) {
                    this.errors.push('Age Required');
                }
                if(!this.city) {
                    this.errors.push('City Required');
                }
            }
        },
        callClass(){
            let userData = {
                name : this.name,
                age: this.age,
                city: this.city
            }
            const data = new user(userData);
            data.displayName();
            data.displayAge();
            data.displayCity();
        }
    }
}
</script>

<style scoped>
input[type=text]{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid green;
}

input[type=submit]{
    background : green;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border:1px solid green;
    font-family: monospace;
}

select{
    padding: 5px;
    width: 10%;
    border-radius: 4px;  
}

#lab{
    font-family: monospace;
}

::placeholder{
    font-family: monospace;
}
</style>