<template>
    <div id="child">
        <div class="row">
            <div id="child-style" v-bind:style="{ backgroundColor : colorName }">
                <span>{{ colorName }}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'task2-child',
    props : ['colorName']
}
</script>

<style scoped>
*{
    box-sizing: border-box;
}

@media only screen and (max-width: 600px){
    #child-style{
        width: 33.33%;
        padding: 10px;
        color: white;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 601px){
    #child-style{
        width: 33.33%;
        padding: 10px;
        color: white; 
        float: left;
        margin-top: 10px;   
        margin-bottom : 10px;
    }
}
</style>