<template>
    <div id="app">
        <router-link :to="{path: '/task1'}">Task-1</router-link>
        <router-link :to="{path: '/task2'}">Task-2</router-link>
        <router-Link :to="{path: '/task3'}">Task-3</router-Link>
        <router-link :to="{path: '/task4'}">Task-4</router-link>
        <router-link :to="{path: '/task5'}">Task-5</router-link>
        <router-view/>
    </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
</style>